.select{
    margin: 10px 0;
}
.selectOption{
    background-color: #0069ff;
    width: 100px;
    height: 25px;
    /* border: 2px solid black; */
    border-radius: 5px;
}
.inputField{
    height: 25px;
    width: 260px;
    padding-left: 10px;
}
.files{
    display: grid;
    width: 100vw;
    /* height: 100vh; */
    grid-template-columns: 1fr 1fr 1fr;
     
}
.singleFile{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    flex-direction: column;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-height:35vh;
    height: 70%;
    cursor: pointer;
}
.data{
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: column;
}
.getData{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

