
.form{
    margin-top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}

.chooseFileSectionA{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}
.linkSize{
    font-size: small;
    margin-top: 5px;
}
.alert{
    position: fixed;
    top: 44px;
    right: 4px;
}

@media screen and (max-width:768px) {
    .linkSize{
        margin-top: 5px;
        font-size: 7px;
    }
}